{% extends '../base.html' %}
    {% block content %}
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Current Trip Info</h2>
        {%if message%}
            <li>{{message}}</li>
        {%else%}
            <ul>
                <li>Address: {{ newtrip.address }} </li>
                <li>Arrive Time: {{ newtrip.time }} </li>

                <li>Current Number of Passengers: {{ newtrip.curr_passenger }} </li>
                {% if not newtrip.is_confirm %}
                    <li>Confirmed by Driver:  {{ newtrip.is_confirm }} </li>
                    <li>Completion Status:  {{ newtrip.is_complete }} </li>
                    <li>Shareable: {{newtrip.is_shareable}}</li>
                    <a class="btn btn-primary" href=" {% url 'ride_share:current_trip_update' user.id %}">Update Current Trip</a>

                {% else %}
                    <li>Driver First Name : {{ driver_profile.first_name }} </li>
                    <li>Driver Last Name : {{ driver_profile.last_name }} </li>
                    <li>Vehicle Type : {{ vehicle.type }} </li>
                    <li>Vehicle Plate Number : {{ vehicle.plate_num }} </li>
                    <li>Completion Status: {{ newtrip.is_complete }} </li>
                    <li>Shareable: {{newtrip.is_shareable}}</li>
                    {% if newtrip.driver_id == user.id%}
                        <input class="btn btn-primary" type="submit" value="Complete Trip" />
                    {%endif%}
                 {% endif %}
            </ul>
        {%endif%}
    </form>
        {% endblock %}